Soap_db_multiple_operation/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="NewWSDLFile" targetNamespace="http://localhost:7801/NewWSDLFile/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:7801/NewWSDLFile/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="NewWSDLFile_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="NewWSDLFileSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
          <xsd:schema targetNamespace="http://localhost:7801/NewWSDLFile/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="NewWSDLFile_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="INSERTRequest">
    <wsdl:part element="tns:INSERT" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="INSERTResponse">
    <wsdl:part element="tns:INSERTResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UPDATERequest">
  	<wsdl:part element="tns:UPDATE" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UPDATEResponse">
  	<wsdl:part element="tns:UPDATEResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GETRequest">
  	<wsdl:part element="tns:GET" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GETResponse">
  	<wsdl:part element="tns:GETResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DELETERequest">
  	<wsdl:part element="tns:DELETE" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DELETEResponse">
  	<wsdl:part element="tns:DELETEResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTRequest"/>
      <wsdl:output message="tns:INSERTResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
    	<wsdl:input message="tns:UPDATERequest"/>
    	<wsdl:output message="tns:UPDATEResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GET">
    	<wsdl:input message="tns:GETRequest"/>
    	<wsdl:output message="tns:GETResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
    	<wsdl:input message="tns:DELETERequest"/>
    	<wsdl:output message="tns:DELETEResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://localhost:7801/NewWSDLFile/INSERT"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://localhost:7801/NewWSDLFile/UPDATE"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET">
      <soap:operation soapAction="http://localhost:7801/NewWSDLFile/GET"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://localhost:7801/NewWSDLFile/DELETE"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://localhost:7801/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>