Soap_db_multiple_operation/NewWSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:7801/NewWSDLFile/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:7801/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="INSERT">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="EID" type="xsd:string"/>
          	<xsd:element name="ENAME" type="xsd:string"/>
          	<xsd:element name="DESIGNATION" type="xsd:string"/>
          	<xsd:element name="ADDRESS" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="INSERTResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="UPDATE">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="EID" type="xsd:string"/>
      			<xsd:element name="ENAME" type="xsd:string"/>
      			<xsd:element name="DESIGNATION" type="xsd:string"/>
      			<xsd:element name="ADDRESS" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="UPDATEResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GET">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="EID" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GETResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="DELETE">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="EID" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="DELETEResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>